:root {
  /* Brand Colors */
  --primary-color: #111825;
  --secondary-color: #00a99d;
  --accent-color: #ffc107;

  /* Text Colors */
  --text-primary: #2c2c2c;
  --text-secondary: #4f4f4f;
  --text-muted: #7d7d7d;
  --text-original-price: #a6a6a6;
  --offer-price: var(--text-primary);

  /* Backgrounds & Surfaces */
  --highlight-bg: #ffe7c6;
  --category-bg: #e6f9f6;
  --modal-overlay: rgba(0, 0, 0, 0.55);
  --modal-close: var(--primary-color);
  --modal-close-hover: #c94705;

  /* Buttons */
  --button-green: var(--secondary-color);
  --button-green-hover: #008f82;
  --button-red: var(--primary-color);
  --button-red-hover: #c94705;
  --button-gold: var(--accent-color);
  --button-gold-hover: #e0a800;

  /* Communication */
  --whatsapp-bg: #25d366;
  --tel-bg: #64b5f6;

  /* Borders & Shadows */
  --border-light: f1eee9;
  --border-medium: #ffcdd2;
  --shadow-light: rgba(245, 95, 10, 0.25);
  --shadow-medium: rgba(0, 0, 0, 0.25);

  /* Base */
  --white: #fffdf9;
  --light-gray: #f9f9f9;
  --button-hover-bg: #fff3e0;
  --gradient-bg: #f55f0a;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Numans", sans-serif;
  background-color: var(--light-gray);
  color: var(--text-primary);
  overflow-x: hidden;
}

.main-header-content {
  background-color: #111825;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

#title {
  margin: 0;
  text-align: left;
  color: #d32f2f;
}

/* Carousel Styles */
.slider {
  width: 100%;
  pointer-events: none;
  overflow: hidden;
  position: relative;
  /* border-radius: 10px; */
  margin: 0 auto 30px auto;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

.slide {
  min-width: 100%;
  height: 100%;
}

.slide a {
  display: block;
  width: 100%;
  height: 100%;
}

/* .slide a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
} */

.indicators {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.indicator {
  width: 40px;
  height: 8px;
  border-radius: 4px;
  background: #e8b838;
  overflow: hidden;
  transition: all 0.3s ease;
  position: relative;
  cursor: pointer;
}

.indicator.active {
  width: 60px;
  height: 8px;
  background: #e1e1e1;
}

.indicator .progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background: #111825;
  transition: none;
}

.indicator.active .progress {
  transition: width linear;
}

/* Controls Section */
.mobile-controls {
  margin-bottom: 16px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.accordion-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background: #e5e7eb;
  border: none;
  border-radius: 8px 8px 0 0;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  text-align: left;
}

.accordion-icon {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.accordion-icon.rotate {
  transform: rotate(180deg);
}

.accordion-content {
  display: none;
  padding: 16px;
}

.accordion-content.active {
  display: block;
}
.control-item {
  margin-bottom: 16px;
}

/* #controls-accordion input,
#controls-accordion select,
#controls-desktop input,
#controls-desktop select {
  width: 100%;
  padding: 12px 8px;
  border: 1px solid #d1d5db;
  border-radius: 5px;
  font-size: 16px;
} */

/* #controls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  margin: 16px;
} */

/* Products Table */
.products-container {
  width: 100%;
}

.desktop-table {
  display: block;
}

.mobile-accordion {
  display: none;
}

.desktop-table table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 12px;
  text-align: center;
  border: 1px solid var(--border-medium);
}

th {
  background-color: var(--primary-color);
  color: var(--white);
  font-weight: 600;
}

.category-row td {
  background-color: var(--category-bg);
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

.highlight-row {
  background-color: var(--highlight-bg);
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 50px;
}

.modal-content {
  background-color: var(--white);
  margin: 5% auto;
  width: 90%;
  padding: 10px;
  max-width: 500px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  position: relative;
}

#phone-error {
  color: var(--modal-close);
  font-size: 0.9em;
  display: none;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 2rem;
  /* border-top: 1px solid var(--border-medium); */
}

.modal-buttons button {
  padding: 0.85rem 1.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  flex: 1;
}

#submit-button {
  background-color: var(--whatsapp-bg);
  color: var(--white);
}

#close-form {
  background-color: var(--button-red);
  color: var(--white);
}

/* Floating Total & Icons */
#floating-total {
  position: fixed;
  bottom: 70px;
  right: 20px;
  background-color: var(--text-primary);
  color: var(--white);
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 25px;
  font-weight: 600;
  z-index: 1000;
}

.contact-us ul {
  list-style: none;
  padding: 0;
}

.contact-us li {
  margin: 12px 0;
}

.contact-us a {
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
  color: var(--white);
  text-decoration: none;
}

.contact-us svg {
  width: 20px;
  height: 20px;
  fill: white;
}

.follow-us .social-icons {
  display: flex;
  /* justify-content: space-around; */
  gap: 16px;
}

.follow-us a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: var(--text-primary);
}

.follow-us svg {
  width: 22px;
  height: 22px;
  fill: var(--white);
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 24px;
  margin-top: 40px;
  text-align: center;
  margin-bottom: 50px;
}

.footer-links a {
  color: var(--white);
  margin: 0 12px;
  text-decoration: none;
}
td[data-label="Original Price"] {
  grid-area: original;
  font-size: 15px;
  color: #d32f2f;
}
td[data-label="Offer Price"] {
  grid-area: offer;
  font-size: 20px;
  color: #4c7d44;
  font-weight: 600;
}
td[data-label="Total"] {
  font-weight: 600;
}
/* 
td[data-label="image"] img {
  width: 80px;
} */

td[data-label="authorname"] {
}
/* --- Go To Top Button Styles --- */
.rupee::before {
  content: "₹";
  margin-right: 2px;
}

/* Responsive Design */
@media (max-width: 767px) {
  main {
    /* padding: 10px; */
  }
  #title {
    font-size: 20px;
  }
  #form-modal-header {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }
  .amount-summary {
    font-size: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    text-align: center;
  }
  .main-header-content,
  .contact-info {
    flex-direction: row;
    text-align: left;
    padding: 5px;
  }
  .contact-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .contact-item span {
    display: none;
  }
  .follow-us .social-icons {
    justify-content: space-around;
  }
  .desktop-controls,
  .desktop-table {
    /* display: ; */
  }
  /* Add this code for centering the category row */
  .mobile-accordion .category-row {
    display: flex; /* Use flexbox for simple centering */
    justify-content: center; /* Center horizontally */
    align-items: center;
    padding: 5px;
    background-color: var(--category-bg);
    font-weight: bold;
  }

  .mobile-accordion .category-row td {
    text-align: center;
    border: none; /* Remove the border from the cell */
    width: 100%;
  }
  .mobile-controls,
  .mobile-accordion {
    display: block;
  }
  .mobile-accordion table {
    width: 100%;
  }
  .mobile-accordion tr {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
      "name name original"
      "name name offer"
      "links quantity total";
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    background-color: #fff;
  }
  .mobile-accordion thead {
    display: none;
  }
  .mobile-accordion tr.highlight-row {
    background-color: var(--highlight-bg);
  }
  .mobile-accordion .category-row td {
    text-align: center;
  }

  .mobile-accordion td {
    border: none;
    padding: 3px;
    place-content: center;
  }

  td[data-label="Image"] {
    grid-area: image;
    display: none;
  }
  td[data-label="Name"] {
    grid-area: name;
    font-size: 13px;
    place-content: center;
    text-align: left;
    font-weight: 600;
  }
  td[data-label="Original Price"] {
    grid-area: original;
    font-size: 13px;
    color: #d32f2f;
  }
  td[data-label="Quantity"] {
    grid-area: quantity;
  }
  td[data-label="Content"] {
    text-align: left;
  }
  td[data-label="Total"] {
    grid-area: total;
    font-weight: bold;
  }
  td[data-label="Links"] {
    grid-area: links;
    font-size: 12px;
  }
  td[data-label="Offer Price"] {
    grid-area: offer;
    font-size: 15px;
    color: #4c7d44;
    font-weight: 600;
  }
  .quantity-controls button {
    width: 25px;
    height: 25px;
  }
  .quantity-controls {
    justify-content: end;
  }
  /* .quantity-input {
    width: 30px;
    height: 25px;
  } */
  #floating-total {
    bottom: 10px;
    right: 10px;
    font-size: 20px;
  }
  #ok-button {
    font-size: 18px;
    padding: 10px;
    width: 70px;
  }
  #floating-icons {
    bottom: 150px;
    left: 20px;
  }
  #goTopdownload_btn {
    bottom: 60px;
    right: 10px;
  }
  #clear-button {
    font-size: 18px;
    padding: 10px;
    width: 70px;
  }
}

@media (min-width: 768px) {
  .mobile-controls {
    display: none;
  }
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
    width: 700px;
  }
}

@media (min-width: 1024px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
    width: 1000px;
  }
}

.info-modal {
  display: none; /* Initially hide the modal */
  position: fixed;
  z-index: 1002; /* Higher z-index to appear above other content */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 50px;
}

.copyright {
  color: white;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  margin-top: 20px;
  text-decoration: none;
}

/* Bottom Bar Styles */
#bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #fff;
  color: var(--primary-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
}

.total-display {
  font-size: 20px;
  font-weight: 600;
}

.bottom-bar-buttons {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.bottom-bar-buttons button {
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

#clear-button {
  background-color: #820101;
  border: none;
  color: white;
}

/* Responsive styles for the bottom bar */
@media (max-width: 600px) {
  #bottom-bar {
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
  }

  .total-display {
    font-size: 16px;
  }
  .bottom-bar-buttons {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
  }

  .bottom-bar-buttons button {
    font-size: 14px;
    padding: 6px 12px;
  }
}

/* Tutorial Button (?) Styles */
#tutorial-button {
  background-color: #ffc107; /* Prosperity Gold */
  color: var(--text-primary);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: none;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: bounce 1s infinite;
}

/* Keyframes for bounce (already in your CSS, no need to add again) */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-8px);
  }
}

/* Video Modal Styles */
#video-modal .modal-content {
  padding: 0;
  background-color: #000; /* Black background for video player */
}

#video-modal video {
  display: block;
  border-radius: 12px;
}

.close-video {
  color: #fff; /* White close button for dark background */
  font-size: 2.5rem;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  z-index: 1002; /* Ensure it's above the video */
}

/* --- Noxlay Marketing Ad Styles --- */
.noxlay-ad-container {
  background-color: #fffdf9; /* Light cream background */
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  padding: 20px;
  text-align: center;
  margin: 20px 0;
}

.noxlay-ad-container p {
  color: var(--text-primary);
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.noxlay-ad-container p strong {
  color: var(--primary-color);
  font-weight: bold;
}

.noxlay-ad-button {
  background-color: var(--secondary-color); /* Regal Teal */
  color: white;
  padding: 10px 25px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: inline-block;
}

.noxlay-ad-button:hover {
  background-color: #008f82; /* Darker teal on hover */
  transform: translateY(-2px);
}

/* --- Image Modal Styles --- */
#image-modal .modal-content {
  max-width: 400px; /* Adjust max-width as needed */
  padding: 0;
  background-color: var(--white);
}

#image-modal .modal-header {
  padding: 10px 20px;
  border-bottom: 1px solid var(--border-light);
  text-align: center;
}

#modal-header-text {
  margin: 0;
  font-size: 1.25rem;
  color: var(--text-primary);
}

#image-modal .close {
  z-index: 10; /* Ensure close button is on top */
  color: var(--modal-close);
}

#modal-image {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1; /* This creates the 1:1 ratio */
  object-fit: contain; /* Ensures the whole image fits without stretching */
  display: block;
  padding: 10px;
}

/* Add your new code right here */
/* .img-bunk{
  display: block;
}
.img-bunk-mo{
    display: none;
  }
@media (max-width: 767px){
  .img-bunk{
    display: none;
  }
  .img-bunk-mo{
    display: block;
    margin-top: 20px;
  }
} */

/* Grid layout */

.product-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: 0.2s;
  overflow: hidden;
}

.product-card .product-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.product-card.highlight-row {
  border-color: #f97316;
  background-color: #fff7ed;
}
.product-image {
  overflow: hidden;
}

.product-image img {
  width: 100%;
  /* height: 150px; */
  object-fit: cover;
  border-radius: 6px;
}

.product-info h2 {
  font-size: 1rem;
  margin: 0;
}

.product-author {
  font-size: 0.9rem;
  color: #666;
}

.product-prices {
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
}

.original-price {
  text-decoration: line-through;
  color: #888;
  font-size: 0.9rem;
}

.offer-price {
  font-weight: bold;
  color: #f97316;
  font-size: 1rem;
}

.product-quantity {
  display: flex;
  /* gap: 5px; */
  align-items: center;
}

.product-quantity .less {
  padding: 5px 8px;
  font-size: 1rem;
  background-color: red;
  color: #fff;
}

.product-quantity .add {
  padding: 5px 8px;
  font-size: 1rem;
  background-color: green;
  color: #fff;
}

@media (orientation: portrait) {
  .product-quantity .add {
    padding: 5px 6px;
    font-size: 12px;
    background-color: green;
    color: #fff;
  }
  .product-quantity .less {
    padding: 5px 6px;
    font-size: 12px;
    background-color: red;
    color: #fff;
  }
  .quantity-input {
    width: 40px !important;
    height: 28px !important;
    text-align: center;
    border: 1px solid var(--border-light);
    /* border-radius: 4px; */
    font-size: 14px;
  }
  .product-card {
    padding: 10px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: 0.2s;
    overflow: hidden;
  }
  .product-info h2 {
    font-size: 13px;
  }
  .product-author {
    font-size: 11px;
    color: #666;
    font-weight: 600;
  }
  .product-total {
    font-weight: bold;
    margin-top: 5px;
    font-size: 14px;
  }
}

.product-total {
  font-weight: bold;
  margin-top: 5px;
}

.product-image {
  width: 150px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 4px;
  transition: transform 0.2s;
}

.product-image:hover {
  transform: scale(1.1);
}

.quantity-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.quantity-controls button {
  width: 40px;
  height: 40px;
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  border-radius: 4px;
}

.quantity-input {
  width: 50px;
  height: 34px;
  text-align: center;
  border: 1px solid #f1eee9;
  /* border-radius: 4px; */
  font-size: 1em;
}

.gradient-icon i {
  background: linear-gradient(90deg, #111825, #e8b737);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/* loader style start */
/* loader style start */
.book,
.book__pg-shadow,
.book__pg {
  animation: cover 6s ease-in-out infinite;
}

.book {
  background-color: hsl(268, 90%, 65%);
  border-radius: 0.25em;
  box-shadow: 0 0.25em 0.5em hsla(0, 0%, 0%, 0.3), 0 0 0 0.25em #e4ae33 inset;
  padding: 0.25em;
  perspective: 37.5em;
  position: relative;
  width: 8em;
  height: 6em;
  transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
}

.book__pg-shadow,
.book__pg {
  position: absolute;
  left: 0.25em;
  width: calc(50% - 0.25em);
}

.book__pg-shadow {
  animation-name: shadow;
  background-image: linear-gradient(
    -45deg,
    hsla(0, 0%, 0%, 0) 50%,
    hsla(0, 0%, 0%, 0.3) 50%
  );
  filter: blur(0.25em);
  top: calc(100% - 0.25em);
  height: 3.75em;
  transform: scaleY(0);
  transform-origin: 100% 0%;
}

.book__pg {
  animation-name: pg1;
  background-color: hsl(223, 10%, 100%);
  background-image: linear-gradient(
    90deg,
    hsla(223, 10%, 90%, 0) 87.5%,
    hsl(223, 10%, 90%)
  );
  height: calc(100% - 0.5em);
  transform-origin: 100% 50%;
}

.book__pg--2,
.book__pg--3,
.book__pg--4 {
  background-image: repeating-linear-gradient(
      hsl(223, 10%, 10%) 0 0.125em,
      hsla(223, 10%, 10%, 0) 0.125em 0.5em
    ),
    linear-gradient(90deg, hsla(223, 10%, 90%, 0) 87.5%, hsl(223, 10%, 90%));
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2.5em 4.125em, 100% 100%;
}

.book__pg--2 {
  animation-name: pg2;
}

.book__pg--3 {
  animation-name: pg3;
}

.book__pg--4 {
  animation-name: pg4;
}

.book__pg--5 {
  animation-name: pg5;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(223, 10%, 30%);
    --fg: hsl(223, 10%, 90%);
  }
}

/* Animations */
@keyframes cover {
  from,
  5%,
  45%,
  55%,
  95%,
  to {
    animation-timing-function: ease-out;
    background-color: #e1b347;
  }

  10%,
  40%,
  60%,
  90% {
    animation-timing-function: ease-in;
    background-color: #111825;
  }
}

@keyframes shadow {
  from,
  10.01%,
  20.01%,
  30.01%,
  40.01% {
    animation-timing-function: ease-in;
    transform: translate3d(0, 0, 1px) scaleY(0) rotateY(0);
  }

  5%,
  15%,
  25%,
  35%,
  45%,
  55%,
  65%,
  75%,
  85%,
  95% {
    animation-timing-function: ease-out;
    transform: translate3d(0, 0, 1px) scaleY(0.2) rotateY(90deg);
  }

  10%,
  20%,
  30%,
  40%,
  50%,
  to {
    animation-timing-function: ease-out;
    transform: translate3d(0, 0, 1px) scaleY(0) rotateY(180deg);
  }

  50.01%,
  60.01%,
  70.01%,
  80.01%,
  90.01% {
    animation-timing-function: ease-in;
    transform: translate3d(0, 0, 1px) scaleY(0) rotateY(180deg);
  }

  60%,
  70%,
  80%,
  90%,
  to {
    animation-timing-function: ease-out;
    transform: translate3d(0, 0, 1px) scaleY(0) rotateY(0);
  }
}

@keyframes pg1 {
  from,
  to {
    animation-timing-function: ease-in-out;
    background-color: hsl(223, 10%, 100%);
    transform: translate3d(0, 0, 1px) rotateY(0.4deg);
  }

  10%,
  15% {
    animation-timing-function: ease-out;
    background-color: hsl(223, 10%, 100%);
    transform: translate3d(0, 0, 1px) rotateY(180deg);
  }

  20%,
  80% {
    animation-timing-function: ease-in;
    background-color: hsl(223, 10%, 45%);
    transform: translate3d(0, 0, 1px) rotateY(180deg);
  }

  85%,
  90% {
    animation-timing-function: ease-in-out;
    background-color: hsl(223, 10%, 100%);
    transform: translate3d(0, 0, 1px) rotateY(180deg);
  }
}

@keyframes pg2 {
  from,
  to {
    animation-timing-function: ease-in;
    background-color: hsl(223, 10%, 45%);
    transform: translate3d(0, 0, 1px) rotateY(0.3deg);
  }

  5%,
  10% {
    animation-timing-function: ease-in-out;
    background-color: hsl(223, 10%, 100%);
    transform: translate3d(0, 0, 1px) rotateY(0.3deg);
  }

  20%,
  25% {
    animation-timing-function: ease-out;
    background-color: hsl(223, 10%, 100%);
    transform: translate3d(0, 0, 1px) rotateY(179.9deg);
  }

  30%,
  70% {
    animation-timing-function: ease-in;
    background-color: hsl(223, 10%, 45%);
    transform: translate3d(0, 0, 1px) rotateY(179.9deg);
  }

  75%,
  80% {
    animation-timing-function: ease-in-out;
    background-color: hsl(223, 10%, 100%);
    transform: translate3d(0, 0, 1px) rotateY(179.9deg);
  }

  90%,
  95% {
    animation-timing-function: ease-out;
    background-color: hsl(223, 10%, 100%);
    transform: translate3d(0, 0, 1px) rotateY(0.3deg);
  }
}

@keyframes pg3 {
  from,
  10%,
  90%,
  to {
    animation-timing-function: ease-in;
    background-color: hsl(223, 10%, 45%);
    transform: translate3d(0, 0, 1px) rotateY(0.2deg);
  }

  15%,
  20% {
    animation-timing-function: ease-in-out;
    background-color: hsl(223, 10%, 100%);
    transform: translate3d(0, 0, 1px) rotateY(0.2deg);
  }

  30%,
  35% {
    animation-timing-function: ease-out;
    background-color: hsl(223, 10%, 100%);
    transform: translate3d(0, 0, 1px) rotateY(179.8deg);
  }

  40%,
  60% {
    animation-timing-function: ease-in;
    background-color: hsl(223, 10%, 45%);
    transform: translate3d(0, 0, 1px) rotateY(179.8deg);
  }

  65%,
  70% {
    animation-timing-function: ease-in-out;
    background-color: hsl(223, 10%, 100%);
    transform: translate3d(0, 0, 1px) rotateY(179.8deg);
  }

  80%,
  85% {
    animation-timing-function: ease-out;
    background-color: hsl(223, 10%, 100%);
    transform: translate3d(0, 0, 1px) rotateY(0.2deg);
  }
}

@keyframes pg4 {
  from,
  20%,
  80%,
  to {
    animation-timing-function: ease-in;
    background-color: hsl(223, 10%, 45%);
    transform: translate3d(0, 0, 1px) rotateY(0.1deg);
  }

  25%,
  30% {
    animation-timing-function: ease-in-out;
    background-color: hsl(223, 10%, 100%);
    transform: translate3d(0, 0, 1px) rotateY(0.1deg);
  }

  40%,
  45% {
    animation-timing-function: ease-out;
    background-color: hsl(223, 10%, 100%);
    transform: translate3d(0, 0, 1px) rotateY(179.7deg);
  }

  50% {
    animation-timing-function: ease-in;
    background-color: hsl(223, 10%, 45%);
    transform: translate3d(0, 0, 1px) rotateY(179.7deg);
  }

  55%,
  60% {
    animation-timing-function: ease-in-out;
    background-color: hsl(223, 10%, 100%);
    transform: translate3d(0, 0, 1px) rotateY(179.7deg);
  }

  70%,
  75% {
    animation-timing-function: ease-out;
    background-color: hsl(223, 10%, 100%);
    transform: translate3d(0, 0, 1px) rotateY(0.1deg);
  }
}

@keyframes pg5 {
  from,
  30%,
  70%,
  to {
    animation-timing-function: ease-in;
    background-color: hsl(223, 10%, 45%);
    transform: translate3d(0, 0, 1px) rotateY(0);
  }

  35%,
  40% {
    animation-timing-function: ease-in-out;
    background-color: hsl(223, 10%, 100%);
    transform: translate3d(0, 0, 1px) rotateY(0deg);
  }

  50% {
    animation-timing-function: ease-in-out;
    background-color: hsl(223, 10%, 100%);
    transform: translate3d(0, 0, 1px) rotateY(179.6deg);
  }

  60%,
  65% {
    animation-timing-function: ease-out;
    background-color: hsl(223, 10%, 100%);
    transform: translate3d(0, 0, 1px) rotateY(0);
  }
}
